{% extends 'base.html' %}

{% block main %}
<div class="row" id="navigation">
    <div class="col-md-12">
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">

            </div>
  </div>
    </div>
</div>  

{% endblock %}
